<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Find <%= @user.username %>'s Secrets</h1>
<center>
<div style='width: 400px;'>
  <div id="multi_markers" style='width: 400px; height: 400px;'></div>
</div>

<script type='text/javascript'>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(marker);
  });
</script>
</center>

<% if user_authorized? %>
<%= link_to 'View All My Secrets', my_secrets_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Home', root_path %>
