<!-- if a song is included -->
<% if secret.song && secret.song != "" %>
    <div class="item">
      <div class="custom-well" style="background-color:#0c0c0c;">
          <h3><%= secret.message %></h3>
          <p><%= secret.address %></p>
        
          <% if current_user && current_user.id == secret.user.id %>
            <p>
              <%= link_to "Edit Secret", edit_secret_path(secret) %> | 
              <%= link_to "Delete Secret", secret_path(secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
            </p><br>
          <% else %>
            <p>Written By: <%= secret.user.username %></p><br>
          <% end %>

          <p>
            <% if current_user %>
              <% if secret.user_upvoted?(current_user) %>
                <%= link_to "Unvote", upvote_path(secret), method: "POST", id: "vote" %> 
              <% else %>
                <%= link_to "Vote", upvote_path(secret), method: "POST", id: "vote" %> 
              <% end %>
            <% else %>
              <%= link_to "Log in to vote.", login_path %> | 
            <% end %>
            Votes: <%= secret.vote_count %>
          </p>
          <!-- <i class="fa fa-search-plus"></i> -->
          <div class="soundcloud">
          <iframe width="100%" height="90px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= secret.get_track_id %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>
      </div>
    </div>
<!-- end if song included -->
<!-- if a song isnt included  -->
<% else %>
      <div class="item">
        <div class="custom-well" style="background-color:#0c0c0c;">
          <h3><%= secret.message %></h3>
          <p><%= secret.address %></p>
          
            <% if current_user && current_user.id == secret.user.id %>
              <p>
                <%= link_to "Edit Secret", edit_secret_path(secret) %> | 
                <%= link_to "Delete Secret", secret_path(secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
              </p><br>
            <% else %>
              <p>Written By: <%= secret.user.username %></p><br>
            <% end %>

            <p>
              <% if current_user %>
                <% if secret.user_upvoted?(current_user) %>
                  <%= link_to "Unvote", upvote_path(secret), method: "POST", id: "vote" %> 
                <% else %>
                  <%= link_to "Vote", upvote_path(secret), method: "POST", id: "vote" %> 
                <% end %>
              <% else %>
                <%= link_to "Log in to vote.", login_path %> | 
              <% end %>
              Votes: <%= secret.vote_count %>
            </p>
        </div>
      </div>
   
<!-- end if song isnt included -->
<% end %>