<p>
<br><h2>Secret <%= secret.id %></h2>
  <ul>
    <br><li>Address: <%= secret.address %></li>
    <br><li>Longitude: <%= secret.longitude %></li>
    <br><li>Latitude: <%= secret.latitude %></li>
    <br><li>Message: <%= secret.message %></li>
    <% if secret.song %>
      <li>Song: <%= secret.song %></li>
    <% end %>
  </ul>
</p>