<!-- if a song is included -->
<% if secret.song && secret.song != "" %>
  <li class="work-item video">
    <img src="assets/img/portfolio/work8.jpg" alt="Just paste the link and go">
    <div class="image-overlay">
      <a href="http://vimeo.com/82905738" class="mfp-iframe media-popup" title="Vimeo">
        <div class="work-item-info">
          <h3>Vimeo</h3>
          <p>Just paste the link and go</p>
          <i class="fa fa-search-plus"></i>
        </div>
      </a>
    </div>
  </li>
<!-- end if song included -->
<!-- if a song isnt included  -->
<% else %>
  <li class="work-item ux black-background">

    <!-- <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTzcARzOK9lOEx186q3m-QHbrMclcRqAJ08rFBZMi7qeQMeEmd3" alt="Work item brief description"> -->
    
    <!-- <div class="image-overlay"> -->
      <!-- <a href="assets/img/portfolio/work3-ori.jpg" class="media-popup" title="Skyscraper"> -->
        <div class="work-item-info">
          <div class="center-message">
            <h3><%= secret.message %></h3>
          </div>
          <p><%= secret.address %></p>
          
            <% if current_user && current_user.id == secret.user.id %>
              <p>
                <%= link_to "Edit Secret", edit_secret_path(secret) %> | 
                <%= link_to "Delete Secret", secret_path(secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
              </p><br>
            <% else %>
              <p>Written By: <%= secret.user.username %></p><br>
            <% end %>

            <p>
              <% if current_user %>
                <% if secret.user_upvoted?(current_user) %>
                  <%= link_to "Unvote", upvote_path(secret), method: "POST", id: "vote" %> 
                <% else %>
                  <%= link_to "Vote", upvote_path(secret), method: "POST", id: "vote" %> 
                <% end %>
              <% else %>
                <%= link_to "Log in to vote.", login_path %> | 
              <% end %>
              Votes: <%= secret.vote_count %>
            </p>
          <!-- <i class="fa fa-search-plus"></i> -->
        </div>
      </a>
    <!-- </div> -->
  </li>
<!-- end if song isnt included -->
<% end %>