<p>
<br><h4><%= link_to "Secret #{secret.id}", secret_path(secret.id) %></h2>
  <ul>
    <li>Address: <%= secret.address %></li><br>
    <li>Longitude: <%= secret.longitude %></li><br>
    <li>Latitude: <%= secret.latitude %></li><br>
    <li>Message: <%= secret.message %></li><br>
    <% if secret.song %>
      <li>Song: <%= secret.song %></li>
    <% end %>
    <% if current_user.id == secret.user.id %>
    <li>
      <%= link_to "Edit Secret", edit_secret_path(secret) %> | 
      <%= link_to "Delete Secret", secret_path(secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
    </li><br>
    <% else %>
    <li>Written By: <%= secret.user.username %></li><br>
    <% end %>
    <li>
      <% if secret.user_upvoted?(current_user) %>
        <%= link_to "Unvote", upvote_path(secret), method: "POST", id: "vote" %> 
      <% else %>
        <%= link_to "Vote", upvote_path(secret), method: "POST", id: "vote" %> 
      <% end %>
      <%= secret.vote_count %>
    </li><br>
  </ul>
</p>