<p>Latitude: <%= session[:latitude] %></p>
<p>Longitude: <%= session[:longitude] %></p>

<% if @nearby_secrets == nil %>
  <h1>All Secrets</h1>
  <%= render partial: "secrets/secret", collection: @secrets %>
<% else %>
  <h1>Nearby Secrets</h1>
  <%= render partial: "secrets/secret", collection: @nearby_secrets %>
<% end %>

<h1>Having a hard time finding a secret?</h1>

<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>

<script type='text/javascript'>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(marker);
  });
</script>
