<p>Latitude: <%= session[:latitude] %></p>
<p>Longitude: <%= session[:longitude] %></p>

<% if @nearby_secrets.size == 0 %>
  <h1>All Secrets</h1>
  <%= render partial: "secrets/secret", collection: @secrets %>
<% else %>
  <h1>Nearby Secrets</h1>
  <%= render partial: "secrets/secret", collection: @nearby_secrets %>
<% end %>

<h3>Map Test</h3>

<div id="map-canvas" style="height:500px; width:500px"></div>

<script type='text/javascript'>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(marker);
  });
</script>
