<h1>Create a secret</h1>
<p>
  <%= form_for @secret do |f| %>
  <br><%= f.label :address %><%= f.text_field :address %>
  <br><%= f.label :message %><%= f.text_area :message%>
  <div class="submit_button"><%= f.submit %></div>
  <% end  %>

  <div id="count">250</div>
</p>