<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<div style="height: 100px;"></div>
<div class="col-xs-6 col-xs-offset-3 panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Create a secret</h1>
  </div>
  <div class="panel-body">
  <%= form_for @secret do |f| %>  
    <% if @secret.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@secret.errors.count, "error") %> prohibited this secret from being saved:
       </h2>
       <ul>
         <% @secret.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
  <div class="form-group">
    <%= f.label :address %><%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message %><%= f.text_area :message, class: "form-control"%>
  </div>
  <div class="row">
    <div class="checkbox col-xs-6">
      <input id="song-checkbox" type="checkbox" name="add_song">Add a song<br>
    </div>
    <div id="count" class="col-xs-6 text-right">250</div>
  </div>
  <div id="song-input" class="form-group">
    <%= f.label :song %><%= f.text_field :song, :value => nil, class: "form-control"%>
  </div>
  <div class="submit_button text-center"><%= f.submit class: "btn btn-default" %></div>
  <% end  %>
  </div>
</div>

<script>
  var input = document.getElementById('secret_address')
  var autocomplete = new google.maps.places.Autocomplete(input)
  var geolocation = new google.maps.LatLng(<%= session[:latitude] %>, <%= session[:longitude] %>);
  autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
  google.maps.event.addDomListener(input, 'keydown', function(e) { 
    if (e.keyCode == 13) { 
        e.preventDefault(); 
    }
  }); 

</script>