<h1>Create a secret</h1>
<p>
  <%= form_for @secret do |f| %>
  <br><%= f.label :address %><%= f.text_field :address %>
  <br><%= f.label :message %><%= f.text_field :message %>
  <p><%= f.submit %>
  <% end  %>
</p>