<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<h1>Create a secret</h1>
<p>
  <%= form_for @secret do |f| %>  
    <% if @secret.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@secret.errors.count, "error") %> prohibited this secret from being saved:
       </h2>
       <ul>
         <% @secret.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>


  <br><%= f.label :address %><%= f.text_field :address %>
  <br><%= f.label :message %><%= f.text_area :message%>
  <input id="song-checkbox" type="checkbox" name="add_song">Add a song<br>
  <div id="song-input">
    <br><%= f.label :song %><%= f.text_field :song, :value => nil%>
  </div>
  <div class="submit_button"><%= f.submit %></div>
  <% end  %>
  <div id="count">250</div>
</p>

<script>
  var input = document.getElementById('secret_address')
  var autocomplete = new google.maps.places.Autocomplete(input)
  var geolocation = new google.maps.LatLng(<%= session[:latitude] %>, <%= session[:longitude] %>);
  autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
</script>