<h1>Create a secret</h1>
<p>
  <%= form_for @secret do |f| %>
  <br><%= f.label :address %><%= f.text_field :address %>
  <br><%= f.label :message %><%= f.text_field :message %>  
  <input id="song-checkbox" type="checkbox" name="add_song">Add a song<br>
  <div id="song-input">
    <br><%= f.label :song %><%= f.text_field :song%>
  </div>
  <p><%= f.submit %>
  <% end  %>
</p>

<iframe src="https://embed.spotify.com/?uri=spotify:track:4qra6XuTciQakR0C4uaPpO" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>