<h1>Secret <%= @secret.id %></h1>
<p>
  <ul>
    <li>Address: <%= @secret.address %></li>
    <li>Longitude: <%= @secret.longitude %></li>
    <li>Latitude: <%= @secret.latitude %></li>
    <li>Message: <%= @secret.message %></li>
    <% if @secret.song %>
      <li>Song: <%= @secret.song %></li>
    <% end %>
  </ul>
</p>