<% if secret_authorized? || @nearby_secrets.include?(@secret) %>
  <h2>Secret <%= @secret.id %></h2>
  <p>
    <ul>
      <li>Address: <%= @secret.address %></li>
      <li>Longitude: <%= @secret.longitude %></li>
      <li>Latitude: <%= @secret.latitude %></li>
      <li>Message: <%= @secret.message %></li>
      <% if @secret.song && @secret.song != "" %>
        <iframe width="400" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= @secret.get_track_id %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      <% end %>
      <li>Written By: <%= @secret.user.username %></li>
    </ul>
  </p>
<% else %>
  <h2>You are not where you think you are. You must be near <%= @secret.address %> to see this.</h2>
<% end %>

<% if secret_authorized? %>
  <p>
  <%= link_to "Edit Secret", edit_secret_path(@secret) %> | 
  <%= link_to "Delete Secret", secret_path(@secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
  </p>
<% end %>  