<h1>Secret <%= @secret.id %></h1>
<p>
  <ul>
    <li>Address: <%= @secret.address %></li>
    <li>Longitude: <%= @secret.longitude %></li>
    <li>Latitude: <%= @secret.latitude %></li>
    <li>Message: <%= @secret.message %></li>
    <% unless @secret.song.blank? %>
      <li>Song: <%= @secret.song %></li>
    <% end %>
    <li>Written By: <%= @secret.user.username %></li>
  </ul>
</p>

<% if secret_authorized? %>
  <p>
  <%= link_to "Edit Secret", edit_secret_path(@secret) %> | 
  <%= link_to "Delete Secret", secret_path(@secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
  </p>
<% end %>  