<div style="height: 100px;" id="hero-unit" class="hero-unit"></div>
<div id="hero-unit" class="hero-unit">
<div class="col-sm-4 col-sm-offset-4 panel panel-default">
<div style="height: 20px"></div>
<% if (current_user && secret_authorized?) || @nearby_secrets.include?(@secret) %>
  <div class="panel-heading">
    <h1 class="text-center">You Found Me</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= @secret.address %>
    </div>
    <div class="secret-message">
      <%= @secret.message %>
    </div>
    <% if @secret.song && @secret.song != "" %>
    <div>
          <iframe width="100%" height="90px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= @secret.get_track_id %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <% end %>
    <div class="secret-author">
        Dropped by <%= link_to "#{@secret.user.username}", user_path(@secret.user) %>
    </div>
  <% else %>
  <div class="panel-body">
    <div class="lost-body">
    You are not where you think you are. You must be near <%= @secret.address %> to see this.
    </div>
    <div class="lost-body">
      <p>Go find more secrets.</p>
    </div>
    <div class="hero-buttons lost-body">
      <%= link_to "Reveal", secrets_path, id: "btn-contact", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <% end %>

  <% if current_user && secret_authorized? %>
    <div style="height: 20px"></div>
    <div class="row">
      <div class="song-input col-xs-6">
        <div class="submit_button text-center"><%= link_to "Edit", edit_secret_path(@secret), id: "btn-contact", class: "btn btn-primary btn-lg" %></div>
      </div>
      <div id="count" class="col-xs-6 count">
        <div class="submit_button text-center"><%= link_to "Delete", secret_path(@secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'}, id: "btn-contact", class: "btn btn-primary btn-lg" %></div>
      </div>
    </div>
  <% end %>  
  </div>
</div>
</div>