
<% if secret_authorized? || @nearby_secrets.include?(@secret) %>
  <h2>Secret <%= @secret.id %></h2>
  <p>
    <ul>
      <li>Address: <%= @secret.address %></li>
      <li>Longitude: <%= @secret.longitude %></li>
      <li>Latitude: <%= @secret.latitude %></li>
      <li>Message: <%= @secret.message %></li>
      <% if @secret.song %>
        <li>Song: <%= @secret.song %></li>
      <% end %>
      <li>Written By: <%= @secret.user.username %></li>
    </ul>
  </p>
<% else %>
  <h2>You are not where you think you are. You must be near <%= @secret.address %> to see this.</h2>
<% end %>

<% if secret_authorized? %>
  <p>
  <%= link_to "Edit Secret", edit_secret_path(@secret) %> | 
  <%= link_to "Delete Secret", secret_path(@secret), method: :delete, data: {confirm: 'Do you want to forever delete this secret?'} %>
  </p>
<% end %>  