

<p><%= notice %></p>

<div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
          <!-- <img src="assets/img/loop-logo.png" alt="Loop Logo"> -->
          <h1 class="hide">Parallax HTML One-Page Template</h1>
        </a>
      </div>
      <nav class="navbar-collapse collapse" id="main-nav" role="navigation" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          
        </ul>
      </nav>
    </div>
  </div>





<body id="top" style="display: block;">

  <!-- NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
          <!-- <img src="assets/img/loop-logo.png" alt="Loop Logo"> -->
          <h1 class="hide">Parallax HTML One-Page Template</h1>
        </a>
      </div>
      <nav class="navbar-collapse collapse" id="main-nav" role="navigation" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li class="active"><%= link_to "SIGN UP", signup_path %></li>
            <li class=""><%= link_to "LOG IN", login_path %></li>
          <% else %>
            <li class="active"><%= "Hello, #{current_user.username}" %></li>
            <li class=""><%= link_to "POST", new_secret_path %></li>
            <li class=""><%= link_to "MY SECRETS", my_secrets_path %></li>
            <li class=""><a href="#works">PROFILE</a></li>
            <li class=""><%= link_to "LOG OUT", logout_path %></li>
            <li class=""><a href="#contact">CONTACT US</a></li>
            <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END NAVBAR -->

 

  <!-- JAVASCRIPT -->
  <script src="assets/js/jquery-2.1.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
  <script src="assets/js/jquery.localscroll-1.2.7-min.js"></script>
  <script src="assets/js/jquery.easing.min.js"></script>
  <script src="assets/js/supersized.3.2.7.min.js"></script>
  <script src="assets/js/supersized.shutter.min.js"></script>
  <script src="assets/js/jquery.parallax-1.1.3.js"></script>
  <script src="assets/js/google-map.js"></script> 
  <script src="assets/js/twitter-fetcher.js"></script>
  <script src="assets/js/imagesloaded.pkgd.js"></script>
  <script src="assets/js/jquery.isotope.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/jquery.flexslider-min.js"></script>  
  <script src="assets/js/jpreloader.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <script src="assets/js/loop.js"></script>


</body>