<!DOCTYPE html>
<html>
<head>
  <title>Knowhere</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>"> </script>
</head>
<body id="top" style="display: block;">

<%#= render 'layouts/header' %>
<%= yield %>

</body>
</html>